<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css" />
  </head>
  <body>
    <header>
      <a href="#" class="logo">Nombre del Sitio</a>
      <nav>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="about.html">Sobre mí</a></li>
          <li><a href="portfolio.html">Portafolio</a></li>
          <li><a href="contact.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    
    <section>
      <div class="media-container">
        <a href="#">
          <img
            src="https://images.pexels.com/photos/6356230/pexels-photo-6356230.jpeg"
            alt="Imagen pricipal"
            class="full-width-image"
          />
          <div class="text-overlay">
            <div class="additional-text">
              <span class="special-greeting">Hola,</span>
            </div>
          </div>
        </a>
      </div>
    </section>

    <footer>
      <!-- Aquí iría el contenido del pie de página, como información de contacto, derechos de autor, etc. -->
    </footer>
    <script src="../static/js/script.js" defer></script>
  </body>
</html>
